@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@400;800&family=Signika+Negative:wght@400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    height: 210vh;
    width: 100%;
    font-family:  'Poppins', sans-serif;
    background-color:#24144C ;
}

img::selection {
    color: none;
    background: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(92, 91, 91, 0.616); 
    border-radius: 10px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3d3d3d; 
}

.back {
    width: 100%;
    height: 210vh;
    overflow: hidden;
    position: relative;
}

.gam{
    height: 25%;
    position: absolute;
}

.gam:first-child{
    right: -30%;
    animation: gam1 13s ease-in-out infinite;
}

@keyframes gam1 {
    0%,100%{
        top: -10%;
        right:-30% ;
    }
    40%{
        top: 2%;
        right: 20%;
    }
}

.gam:nth-child(2) {
    left: -10%;
    top: 30%;
    animation: gam2 13s ease-in-out infinite;
}
@keyframes gam2 {
    0%,100%{
        top: 30%;
    }
    40%{
        top: 35%;
        left: 20%;
    }
}

.gam:nth-child(3) {
    right: -20%;
    top: 25%;
    animation: gam3 13s ease-in-out infinite;
}

@keyframes gam3 {
    0%{
        top: 25%;
    }
    40%{
        top: 15%;
        right: -5%;
    }
    100%{
        top: 25%;
    }
}

.gam:nth-child(4) {
    left: -50px;
    top: 10%;
    animation: gam4 13s ease-in-out infinite;
}

@keyframes gam4 {
    0%{
        top: 10%;
    }
    40%{
        top: 25%;
    }
    100%{
        top: 10%;
    }
}

.gam:nth-child(5) {
    right: 0px;
    top: 52%;
    animation: gam5 13s ease-in-out infinite;
}

@keyframes gam5 {
    0%,100%{
        top: 52%;
    }
    40%{
        right: 30%;
    }
}

.gam:nth-child(6) {
    left: 40px;
    top: 50%;
    animation: gam6 13s ease-in-out infinite;
}
@keyframes gam6 {
    0%{
        top: 50%;
    }
    40%{
        top: 60%;
        left: 0%;
    }
    100%{
        top: 50%;
    }
}
.gam:nth-child(7) {
    right: -40%;
    top: 75%;
    animation: gam7 13s ease-in-out infinite;
}
@keyframes gam7 {
    0%{
        top: 75%;
    }
    40%{
        top: 65%;
        right: -60% ;
    }
    100%{
        top: 75%;
    }
}
.gam:nth-child(9) {
    left: -40%;
    top: 45%;
    animation: gam9 13s ease-in-out infinite;
}
@keyframes gam9{
    0%,100%{
        top: 45%;
    }
    40%{
        top: 65%;
        left: -20%;
    }
}
.gam:nth-child(8) {
    left: -40%;
    top: 70%;
    animation: gam8 15s ease-in-out infinite;
}
@keyframes gam8 {
    0%{
        top: 70%;
    }
    40%{
        top: 80%;
        left: -15%;
    }
    100%{
        top: 70%;
    }
}
.gam:nth-child(10) {
    right: -200px;
    top: 0%;
    animation:gam10 13s ease-in-out infinite ;
}
@keyframes gam10 {
    0%{
        top: 0;
    }
    50%{
        top: -5%;
        right: -50px;
    }
    100%{
        top: 0;
    }
}


.bg{
    width: 100%;
    height: 210vh;
    background-color: #24144c5d;
    backdrop-filter: blur(50px);
}

.container {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 70%;
    text-align: center;
    /* background-color:aqua; */
}

.profile {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 5px;
    border-radius: 100px;
    border: solid rgb(188, 189, 189);
    border-width: 4px;
    box-shadow:0px 0px 10px #ffffff91;
}


.text1 {
    margin-top: 10px;
    width: 100%;
    color: #fff;
    font-size: 22px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text1 img {
    align-items: flex-start;
}

.auto-type {
    color: rgb(0, 174, 255);
    font-weight: 700;
    margin-bottom: 20px;
}

.container-text h1{
    font-size: 17px;
    color: #fff;
    font-weight: lighter;
}

.conlink {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 180px;
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    /* background-color: aqua; */
}

.button {
    border-radius: 15px;
    padding: 20px 30%;
    background-color: rgba(255, 255, 255, 0.11);
    text-decoration: none;
    color: #fff;
    box-shadow: none;
    border: none;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(400%);
    transition: transform .5s ease;
    cursor: pointer;
}

.show {
    transform: translate(0);
}


.button:hover{
    background-color: rgba(0, 0, 0, 0.288);
}

/* modal */
.btn:active {
    transform: scale(0.9);
}

.close-modal {
    background: none;
    border: none;
    font-size: 1.5rem;
    margin-right: 20px;
}

.modal {
    width: 90%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease-in;
    border-radius: 10px;
    z-index: 2;
    background-color: #33333338;
    backdrop-filter: blur(40px);
    opacity: 0;
    visibility: hidden;
    transform: scale(1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    box-shadow: 0px 0px 20px rgba(31, 31, 31, 0.377);
}
.md2 {
    width: 320px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease-in;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    z-index: 2;
    background-color: #33333338;
    backdrop-filter: blur(40px);
    opacity: 0;
    visibility: hidden;
    transform: scale(1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}



.modal.active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    backdrop-filter: blur(50px);
    visibility: visible;
    /* transform: scale(1); */
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal2.active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    backdrop-filter: blur(50px);
    visibility: visible;
    /* transform: scale(1); */
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.header {
    position: absolute;
    width: 100%;
    height: 50px;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(50px);
    border-radius: 10px 10px 0px 0px;
}

.modal .body {
    padding: 0.75rem;
}

.title {
    color: #fff;
    padding: 0px 20px;
}


.container-modal{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 40px;
}

.container-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 80px;
    /* background-color: aqua; */
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-mail p {
    color: #fff;
    font-size: 15px;
}

.container-card {
    width: 90%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #24144C; */
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.card {
    width: 100%;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
    background-color: none;
}

.con-img:hover img{
    transform: scale(1.2);
}

.card img {
    border-radius: 5px;
    transition: transform .3s;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
}

.card p {
    font-weight: bolder;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.container-logo img {
    width: 25px;
    cursor: pointer;
}

.con-img {
    width: 90%;
    /* height: 87%; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow: hidden;
}